<!-- Title group  -->
<div class="">
<mat-card>
<div class="title-group">
      <img src="../../../../assets/emtech.png" width="5%" height="5%"class="
      img-responsive">
      

    <mat-divider></mat-divider>
</div>
<div class="container">
    <div class="row">
<div class="col-md-6 col-sm-12 col-xs-12 mt-5">

    <div class="loginImage">
    <img src="../../../../assets/authimage.png" class="
    img-responsive">
  </div><!--end of header-->
    <div class="infoSection">
            <br>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 mt-5 ">

    <div class="card mat-elevation-z8">

        <span *ngIf="loading" ><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>


        <div class="card-header">
            <div class="">
                <span><h1>Login here</h1></span>
              </div>
            <div class="profile-card">
                <img src="../../../../assets/Images/user-avatar.jpg">
              </div><!--end of header-->

        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary" >
                    Login
                </button>
                <br>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <br>
                <a class="pull-left" routerLink="/Auth/Reset_Password">Forgot  Password?</a>
            </form>
        </div>


    </div>
</div>
</div>
</div>
</mat-card>
  </div>
