.prev-data{
    border: solid black 1px;
    border-radius: 16px;
}
.prev-data .row{
    padding: 5px;
    display: block;
}
p{
    color: rgb(10, 10, 153);
    background-color: wheat;
    padding: 5px;
}
.preview-mail-btn{
    margin-top: 10px;
    width: 100% !important;
  }