<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-12 analysis">
            <mat-card >
              Year: 2021
              <div id="employeeCount"></div> 
              </mat-card>
          </div>
    <div class="col-md-7 col-sm-12 analysis">
    <mat-card> 
      Year: 2021
      <div id="container"></div> 
    </mat-card>
    </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <h2>Employee Info</h2>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <mat-card class="info-table">
          <a  [routerLink]="['/administration/employees/active']"> <h3  matBadge="{{this.keyCount}}" matBadgePosition="after" matBadgeColor="accent">Active Employees </h3></a>
          <p><small>All employees who are working.</small></p> 
          <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Employee Name</th>
                <th>Personal Email</th>
                <th>Department</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of employeeData">
                <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                <td>{{item.personalEmail}}</td>
                <td>{{item.reportingTo}}</td>
              </tr>
              </tbody>
              </table>
             <a  [routerLink]="['/administration/employees/active']">Read more...</a>
          </mat-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-card class="info-table">
          <a  [routerLink]="['/administration/employees/active']"> <h3  matBadge="{{this.employeeLeavesDataCount}}" matBadgePosition="after" matBadgeColor="accent">Employees on Leave </h3></a>
          <p><small>All employees who are on variouse leaves.</small></p>
          <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>Started On</th>
                <th>End on</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.employeeLeavesData">
                <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                <td>{{item.leave_type}}</td>
                <td>{{item.start_date | date}}</td>
                <td>{{item.end_date | date}}</td>
              </tr>
              </tbody>
              </table>
             <a  [routerLink]="['/administration/leaves']">Read more...</a>
          </mat-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-card class="info-table">
          <a  [routerLink]="['/administration/employees/active']"> <h3  matBadge="{{this.keyCount}}" matBadgePosition="after" matBadgeColor="accent">Employees Absent </h3></a>
          <p><small>All absent employees</small></p>    
          <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Employee Name</th>
                <th>Personal Email</th>
                <th>Department</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of employeeData">
                <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                <td>{{item.personalEmail}}</td>
                <td>{{item.reportingTo}}</td>
              </tr>
              </tbody>
              </table>
             <a  [routerLink]="['/employees']">Read more...</a>
          </mat-card>
      </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <h2>Salary Info</h2>
      <br>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <mat-card class="info-table">
          <a  [routerLink]="['/administration/pending/salary']"> <h3  matBadge="{{this.dummyCount}}" matBadgePosition="after" matBadgeColor="accent">Dummy Payroll </h3></a>
          <p><small>It offers a flexibility for alteration before bank transfers.</small></p>  
          <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Basic Salary</th>
                  <th>Netpay</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.dummyData">
                  <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                  <td>{{item.basic_salary | currency : 'Ksh'}}</td>
                  <td>{{item.netPay | currency : 'Ksh'}}</td>
                </tr>
                </tbody>
                </table>
               <a  [routerLink]="['/administration/pending/salary']">Read more...</a>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-12">
          <mat-card class="info-table">
          <a  [routerLink]="['/administration/employee/advance/salary']"> <h3  matBadge="{{this.advanceCount}}" matBadgePosition="after" matBadgeColor="accent">Advance Loans</h3></a>
          <p><small>Employee active advance loans.</small></p>   
          <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Department</th>
                  <th>Advance Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.advanceData">
                  <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                  <td>{{item.departmentName}}</td>
                  <td>{{item.salary_amount}}</td>
                </tr>
                </tbody>
                </table>
               <a  [routerLink]="['/administration/employee/advance/salary']">Read more...</a>
            </mat-card>
        </div>
    
    
        <div class="col-md-4 col-sm-12">
          <mat-card class="info-table">
          <a  [routerLink]="['/administration/employees/active']"> <h3  matBadge="{{this.currentMonthlyDataCount}}" matBadgePosition="after" matBadgeColor="accent">Bank Transfer </h3></a>
          <p><small>A payroll to be transfered to bank for this particular month</small></p>
            <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Basic Salary</th>
                  <th>Netpay</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.currentMonthlyData">
                  <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                  <td>{{item.basic_salary | currency : 'Ksh'}}</td>
                  <td>{{item.netPay | currency : 'Ksh'}}</td>
                </tr>
                </tbody>
                </table>
               <a  [routerLink]="['/administration/leaves']">Read more...</a>
            </mat-card>
        </div>
        </div>
    </div>
    