<!--cards-->
<div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

      <mat-card fxFlex="25">
       <u><b>  </b>Your Leave Requests</u>
        <br><br>
        <a routerLink="/Admin/managestore">
          5

        </a>
      </mat-card>


      <mat-card fxFlex="25">
       <u><b></b>Your Loan Requests</u>
        <br><br>
        <a routerLink="/Admin/managestaffs" fxLayoutGap="20px">
           08

        </a>
      </mat-card>
      <mat-card fxFlex="25">
        <u><b> </b>Your Payroll Reports</u>
          <br><br>
        <a routerLink="/Admin/managesuppliers">
          21

        </a>
      </mat-card>
      <mat-card fxFlex="25">
        <u><b> </b>Your Recycle bin</u>
          <br><br>
        <a routerLink="/Admin/managerequests">
          8

        </a>
      </mat-card>
    </div>



</div>
<!--Graph-->
