<div class="col-md-8" id="htmlData">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid wrapper">
   <div class="col-md-12">
      <div class="invoice">
         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600">
            <span class="pull-right hidden-print">
            <a href="javascript:;"  class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
            </span>
            Company Name, Inc
         </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header">
            <div class="invoice-from">
               <small>from</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">Company, Inc.</strong><br>
                  Postal Address<br>
                  Postal Code<br>
                  City <br>
                  Zip Code<br>
                  Tel: (123) 456-7890<br>
                  Mail: <br>

               </address>
            </div>
         </div>
         <!-- end invoice-header -->
                  <!-- begin invoice-header -->
         <div class="invoice-header">

            <div class="invoice-to">
               <small>to</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">Employee Name</strong><br>
                  Street Address<br>
                  City, Zip Code<br>
                  Phone: (123) 456-7890<br>
                  Personal Email: <br>
                  Work Mail:<br>
                  Occupation: Purchase Manager<br>
                  Department: Procurement & Loistics<br>
               </address>
            </div>
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">
                  <thead>
                     <tr>
                        <th>ENTRIES DESCRIPTION</th>
                        <th class="text-center" width="10%">RATE</th>
                        <th class="text-center" width="10%">HOURS</th>
                        <th class="text-right" width="20%">LINE TOTAL</th>
                     </tr>
                  </thead>
                  <tbody>

                     <tr>
                        <td>
                           <span class="text-inverse">Gross Pay</span><br>
                           <small>Your total taxable income.</small>
                        </td>
                        <td class="text-center">_ _</td>
                        <td class="text-center">_ _ </td>
                        <td class="text-right">Ksh 105,500.00</td>
                     </tr>
                     <tr>
                        <td>
                           <span class="text-inverse">PAYE</span><br>
                           <small>Pay AS You Earn - Tax.</small>
                        </td>
                        <td class="text-center">$50.00</td>
                        <td class="text-center">50</td>
                        <td class="text-right">$2,500.00</td>
                     </tr>
                     <tr>
                        <td>
                           <span class="text-inverse">NHIF</span><br>
                           <small>National Health Insurance Fund - Deductions</small>
                        </td>
                        <td class="text-center">$50.00</td>
                        <td class="text-center">40</td>
                        <td class="text-right">$2,000.00</td>
                     </tr>
                     <tr>
                        <td>
                           <span class="text-inverse">NSSF</span><br>
                           <small>National Social Security Fund - Deductions</small>
                        </td>
                        <td class="text-center">$50.00</td>
                        <td class="text-center">50</td>
                        <td class="text-right">$2,500.00</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <h1>Net pay</h1>
               </div>
               <div class="invoice-price-right">
                  <small>TOTAL</small> <span class="f-w-600">Ksh 101,000.00</span>
               </div>
            </div>
            <!-- end invoice-price -->
         </div>
         <!-- end invoice-content -->
         <!-- begin invoice-note -->
         <div class="invoice-note">
            * This is an automated payslip, any alterations is not acceptable!<br>
            * Kindly allways check payroll date in accordance with the policy!<br>
            * If you have any complaints concerning this payslip, kindly sent us an email through - payroll@company.com<br>

         </div>
         <!-- end invoice-note -->
         <!-- begin invoice-footer -->
         <div class="invoice-footer">
            <p class="text-center m-b-5 f-w-600">
               THANK YOU FOR WORKING WITH US
            </p>
            <p class="text-center">
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> www.company.com</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> Tel:0782738292</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> enquiry@company.com</span>
            </p>
         </div>
         <!-- end invoice-footer -->
      </div>
   </div>
</div>

<button type="button" name="" class="btn btn-secondary btn-lg btn-block">Download Invoice</button>
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Print Invoice</button>
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Open Invoice</button>

</div>

