<mat-card>
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h3>Executing the Process</h3>
        <small>Kindly follow the order. If you may have an issue refers to FAQs</small>
        <ol>
          <li>Open Salary
            <p>This is a process of opening salary for all active employees. This is a crucial process as it
              pre-determined which employees qualifies to receive the salary for that month.</p>
          </li>
          <li>Generate Payroll preview
            <p>This is a process of generating a salary preview, detailing all the deductions for each and every
              employee. This Payroll preview will be flexible in that it can allow the authorized person only to
              modify the entries for that month.</p>
          </li>
          <li>Sent Preview Payroll Notification Mail Report
            <p>Through this event, the executive will receive a generated reports of Previewayroll of all employees.
              It act as a preview of salary to be paid but still flexible for modifications. </p>
          </li>
          <li>Close Payroll Generation
            <p>This event will close all the payroll generation, hence no employee will have salary after it has
              been closed.</p>
          </li>
          <li>Close and commit Salary
            <p>This event is an important process. It will commit the salary and generate reports for the actual
              salary that will be sent to executives.</p>
          </li>
          <li>Sent Actual Payroll Notification Mail Report
            <p>THis process will sent a actuall report to executives, showing all the commited salary to be tranfer
              to bank for that particular month.</p>
          </li>
          <li> Sent P9form and Payslip Reports Mail
            <p>This event will sent detailed reports to all employees personal emails which includes the detailed
              payslip for that month and the P9 form for that particular year.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</mat-card>