 
  mat-card{
    width: 60%;
    margin: auto;
  }
  .mat-form-field{
    width: 100%;
  }
  .update-allowance-btn{
    margin-top: 10px;
    width: 100% !important;
  }
  .ul .li{
    list-style: square;
  }
  .mat-card-title{
    align-items: center;
    text-align: center;
  }
   