<!-- Title group  -->
<div class="">
    <mat-card>
    <div class="title-group">
      <img src="../../../../assets/emtech.png" width="5%" height="5%"class="
      img-responsive">
        <mat-divider></mat-divider>
    </div>
    <div class="container">
        <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 mt-5">


      <div class="loginImage">
        <img src="../../../../assets/authimage.png" class="
        img-responsive">
      </div><!--end of header-->

      <div class="infoSection">
              <br>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 mt-5 ">

        <div class="card mat-elevation-z8">

        <span *ngIf="loading" ><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>

            <div class="card-header">
                <div class="">
                    <span><h1>Get Email Reset Link</h1></span>
                  </div>
                <div class="profile-card">
                    <img src="../../../../assets/Images/user-avatar.jpg">
                  </div><!--end of header-->

            </div>
            <div class="card-body">

                <div *ngIf="success" class="alert alert-success mt-3 mb-0">

                    <h2>Success!</h2>
                    {{success}}</div>

                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Your Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                       Reset Password
                    </button>
                    <br>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <br>
                    <a class="pull-left" routerLink="/Auth/login">Login</a>
                </form>
            </div>


        </div>
    </div>
    </div>
    </div>
    </mat-card>
      </div>
