
<mat-divider></mat-divider> 
<br>
<mat-card-header class="breadcrumb">
  <div>
    <a routerLink="/administration/" skipLocationChange>Dashboard / </a>
    <a routerLink="/administration/configurations/" skipLocationChange>Configurations / </a>
    <a routerLink="/administration/configurations/set/email" skipLocationChange>E-Mail / </a>E-Mails Configured
  </div>
</mat-card-header> 
<div class="mat-elevation-z8">
  <div *ngIf="loading">
    <p><small>Loading, please wait...</small></p>
    <p>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </p>
  </div>
  <div class="row table-action-row">
    <div class="on-mobile-hide col-md-6 col-sm-12">
      <div>
        <button class="table-main-action-btn bg-primary text-white"
          routerLink="/administration/configurations/set/email/add" skipLocationChange="" mat-raised-button><i
            class="fa fa-plus" aria-hidden="true"></i> &nbsp; CREATE E-Mail
        </button>
        <button class="table-main-action-btn" color="accent" mat-raised-button (click)="
                          exporter.exportTable('csv', {
                            fileName: 'Exported Data'
                          })
                        ">
          <i class="fas fa-file-csv"></i> CSV
        </button>
        <button class="table-main-action-btn" color="primary" mat-raised-button (click)="
                          exporter.exportTable('xlsx', {
                            fileName: 'Exported Data'
                          })
                        ">
          <i class="fas fa-file-excel"></i>EXCEL
        </button>
        <button class="table-main-action-btn" color="warn" mat-raised-button (click)="
                          exporter.exportTable('json', {
                            fileName: 'Exported Data'
                          })
                        ">
          <i class="fas fa-file-code"></i> JSON
        </button>
        <button class="table-main-action-btn bg-secondary text-white" mat-raised-button (click)="
                          exporter.exportTable('txt', {
                            fileName: 'Exported Data'
                          })
                        ">
          <i class="fas fa-file-alt"></i> TEXT
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <input class="pull-right search form-control" (keyup)="applyFilter($event)" placeholder="Filter..." #input />
    </div>
  </div>
  <br />
  <table class="y-scrollable-table" mat-table [dataSource]="dataSource" matTableExporter matSort #exporter="matTableExporter">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_organization_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
       Name
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_organization_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        E-mail Type
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_type }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_organization_address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        E-mail
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_organization_address }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_organization_phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Phone
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_organization_phone }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_salutation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Salutaion
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_salutation }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Subject
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_subject  }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_heading">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Heading
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_heading }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_regards_from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        From
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_regards_from }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_organization_location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Location
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_organization_location }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email_message">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Message
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.email_message }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Action
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon color="primary" [routerLink]="['/administration/configurations/set/email/update/', row.id]" matTooltip="Update E-mail">update</mat-icon> &nbsp;
        <mat-icon color="primary" [routerLink]="['/administration/configurations/set/email/preview/', row.id]" matTooltip="Preview E-mail">visibility</mat-icon> &nbsp;
        <mat-icon color="accent" (click)="deleteMail(row.id)" matTooltip="Delete E-mail">delete_forever</mat-icon> &nbsp;
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No main compliance data matches "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of compliance">
  </mat-paginator>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <mat-card>
        <div *ngIf="loading">
          <p><small>Loading, please wait...</small></p>
          <p>
            <mat-progress-bar mode="query"></mat-progress-bar>
          </p>
        </div>
        <div class="row table-action-row">
          <div class="on-mobile-hide col-md-6 col-sm-12">
            <div>
              <button class="table-main-action-btn bg-primary text-white"
                routerLink="/administration/configurations/nhif/add/" skipLocationChange="" mat-raised-button><i
                  class="fa fa-plus" aria-hidden="true"></i> &nbsp; ADD NHIF TAX
              </button>
              <button class="table-main-action-btn" color="accent" mat-raised-button>
                <i class="fas fa-file-csv"></i> CSV
              </button>
              <button class="table-main-action-btn" color="primary" mat-raised-button>
                <i class="fas fa-file-excel"></i>EXCEL
              </button>
              <button class="table-main-action-btn" color="warn" mat-raised-button>
                <i class="fas fa-file-code"></i> JSON
              </button>
              <button class="table-main-action-btn bg-secondary text-white" mat-raised-button>
                <i class="fas fa-file-alt"></i> TEXT
              </button>
            </div>
          </div>
        </div>
        <br>
        <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable
          [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Id</th>
              <th>Tax Band</th>
              <th>Min Amount</th>
              <th>Max Amount</th>
              <th>NHIF Deduction</th>
              <th>Created On</th>
              <th>Operations</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.data">
              <td>No.{{item.id}}</td>
              <td>{{item.tax_band}}</td>
              <td>{{item.min_threshold | currency : 'Ksh'}}</td>
              <td>{{item.max_threshold | currency : 'Ksh'}}</td>
              <td>{{item.nhif_deduction| currency : 'Ksh'}}</td>
              <td>{{item.updated_at | date}}</td>
              <td>
                <a class="update" color="accent" matTooltip="Update Configuration"
                  [routerLink]="['/administration/configurations/nhif/update/', item.id]">
                  <mat-icon>launch</mat-icon>
                </a>
                <a class="danger" color="accent" matTooltip="Delete Configuration" (click)="onDelete(item.id)"
                  routerLinkActive="list-item-active">
                  <mat-icon>delete_forever</mat-icon>
                </a>

              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>

    </div>
  </div>
</div> -->



<!-- <mat-card>
  <mat-card-header class="breadcrumb">
    <h3 class="mat-h1">
      <div>Home/Configuration/Email-Configurations</div>
    </h3>
  </mat-card-header>
  <hr>
  <div class="container-fluid">
 
    <div class="row">
      <div class="container-fluid">
        <mat-card class="table-data">
          <table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable
            [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Email Type</th>
                <th>Salutation</th>
                <th>Remarks</th>
                <th>Organization Mail</th>
                <th>Created on</th>
                <th>updated on</th>
                <th>Operations</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.data">
                <td>{{item.email_type}}</td>
                <td>{{item.email_salutation}}</td>
                <td>{{item.email_remarks}}</td>
                <td>{{item.email_organization_mail}}</td>
                <td>{{item.created_at | date }}</td>
                <td>{{item.updated_at | date }}</td>
                <td>
                  <a class="update" color="accent" matTooltip="Update Email Configuration"
                    [routerLink]="['/administration/configurations/set/email/preview/', item.id]">
                    <mat-icon>launch</mat-icon>
                  </a>
                  <a class="danger" color="accent" matTooltip="Delete Configuration" (click)="onDelete(item.id)"
                    routerLinkActive="list-item-active">
                    <mat-icon>delete_outline</mat-icon>
                  </a>

                </td>
              </tr>
            </tbody>
          </table>
        </mat-card>

      </div>
    </div>
  </div>
</mat-card>

 private String email_type = "No Configurations";
  //    Payslip & P9form, Notification
      private String email_salutation = "No Configurations";
      private String email_subject = "No Configurations";
      private String email_heading = "No Configurations";
      @Lob
      private String email_message = "No Configurations";
      private String email_remarks = "No Configurations";
      private String email_regards_from = "No Configurations";
      private String email_organization_name = "No Configurations";
      private String email_organization_phone = "No Configurations";
      private String email_organization_mail = "No Configurations";
      @Lob
      private String email_organization_address = "No Configurations";
      @Lob
      private String email_organization_location = "No Configurations";
      @Lob
      private String email_organization_website = "No Configurations";
      private String status = "unApproved";
      private Boolean deleted = false; --> -->