<mat-card>
  <mat-card-header>
    <div class="breadcrumb">Home/Leave Types</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
 <button mat-raised-button color="primary" routerLink="/administration/create/leave/">+ Add Leave Type</button>
<table class="table table-striped table-bordered table-sm row-border hover" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr>
      <th>Leave Type</th>
      <th>Duration</th>
      <th>Salary Deduction %</th>
      <th>Created on</th>
      <th>Updated on</th>
      <th>Operations</th>
  </thead>
  <tbody *ngIf="this.leavesData">
       
       
  
    <tr *ngFor="let item of leavesData">
      <td class="{{item.is_enabled}}">{{item.leaveType}}</td>
      <td class="item.is_enabled">{{item.duration}}</td>
      <td class="item.is_enabled">{{item.deductionPercentage}}</td>
      <td class="item.is_enabled">{{item.created_at | date}}</td>
      <td class="item.is_enabled">{{item.updated_at | date}}</td>
      <td class="item.is_enabled">        
         
     
        <a class="update"  matTooltip="Update Leave" color="accent"  [routerLink]="['/administration/leaves/type/update/', item.id]" ><mat-icon>launch</mat-icon></a>
        <a class="danger"  matTooltip="Delete Data" color="accent"  (click)="onDelete(item.id)" routerLinkActive="list-item-active" ><mat-icon>delete_outline</mat-icon></a>

            <a *ngIf="item.is_enabled == true" class="action-button " mat-button [matMenuTriggerFor]="modify">
              Active
              <mat-icon>arrow_drop_down</mat-icon>
            </a>
              <a *ngIf="item.is_enabled == false" class="action-button {{item.is_enabled}}" mat-button [matMenuTriggerFor]="modify">
                Disabled
                <mat-icon>arrow_drop_down</mat-icon>
              </a>
    
        <mat-menu #modify="matMenu">
            <mat-nav-list>
            <a mat-list-item routerLinkActive="list-item-active" (click)="onEnabled(item.id)">
                Enable
              </a>
              <a mat-list-item routerLinkActive="list-item-active" (click)="onDisabled(item.id)">
                Disable
                </a>
            </mat-nav-list>
        </mat-menu>

      </td>
    </tr>
   
    </tbody>
    </table>
</mat-card>

