<!-- <mat-card>
    <app-supervisor-dashboard *ngIf="is_Supervisor "></app-supervisor-dashboard>
    <app-senior-executive-dahsboard *ngIf="is_Second_Level_prev"></app-senior-executive-dahsboard>
 <app-properties-widget></app-properties-widget>
</mat-card> -->

<mat-card>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <app-gross-summary-chart></app-gross-summary-chart>
            </div>
            <div class="col-md-6 col-sm-12">
                <app-employee-chart></app-employee-chart>
            </div>
        </div>
    </div>
</mat-card>