.mat-card{
  width: 60%;
  margin: auto;
}
.mat-form-field{
  width: 100%;
}
.alert {
  margin-top: 5p;
}
.update-nhif-btn{
  margin-top: 10px;
  width: 100% !important;
}
.mat-card-title{
  align-items: center;
  text-align: center;
}